<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الملف الشخصي للمشرف</title>
    <link rel="stylesheet" href="./styles/admin_style.css">
    <link rel="stylesheet" href="./styles/editAdmin_style.css">
    <link rel="stylesheet" href="./styles/partial css/overlay.css">
    <link rel="stylesheet" href="./styles/partial css/navigationBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="./styles/deleteOverlay.css">
</head>
<body>

    <div class="edit-overlay">
   
        <div class="edit-overlay-container">
            <div class="edit-overlay-content">
             <h1 class="head">  تعديل بيانات المشرف</h1>
             <br>
            <div class="errormessageadminprofile">
                <%= errormessageadmin %>
            </div>
             <form action="editAdmin" method="POST">
                <input type="hidden" name="oldid" value= <%= id %>>
                 <div class="form-group">
                     <label for="name">الاسم</label>
                     <input type="text" id="name" name="name" value="احمد محمد">
                 </div>
                 <br>
     
                 <div class="form-group">
                     <label for="id">الرقم القومي</label>
                     <input type="text" id="id" name="id" value="303060">
                 </div>
                 <br>
     
                 <div class="form-group">
                     <label for="birthDate">تاريخ الميلاد</label>
                     <input type="date" id="birthDate" name="birthDate" >
                 </div>
                 <br>
     
                 
                 <div class="form-group">
                     <!-- Other form fields (name, email, password, etc.) -->
                 
                     <label for="gender">الجنس</label>
                     <input type="radio" name="sex" value="ذكر" required /><span class="sexVal">ذكر</span>
                     <input type="radio" name="sex" value="أنثى" required /><span class = "sexVal">أنثى</span>
                 
                     <!-- Submit button and other fields go here -->
                 </div>
     
                 <!-- <div class="form-group">
                     <label>الجنس</label>
                     <div class="radio-group">
                         <input type="radio" id="male" name="sex" value="male" checked>
                         <label for="male" ><strong class="sexVal">ذكر</strong></label>
                         <input type="radio" id="female" name="sex" value="female" >
                         <label for="female"><strong class="sexVal">أنثى</strong></label>
                     </div>
                 </div> -->
                 <br>
    
                 <div class="form-group">
                    <label for="image">صورة المشرف</label>
                    <input type="file" name="image">
                 </div>
                 <br>
                 <div class="form-group">
                     <label for="email">البريد الالكتروني</label>
                     <input type="tel" id="email" name="email" value="admin@example">
                 </div>
                 <br>
     
                 <div class="form-group">
                     <label for="mobile">رقم الهاتف</label>
                     <input type="tel" id="mobile" name="mobile" value="031321">
                 </div>
                 <br>
     
                 <div class="form-group">
                     <label for="address">العنوان</label>
                     <input type="text" id="address" name="address" value="شارع علي علوكة">
                 </div>
                 <br>
    
                 <div class="form-group">
                     <label for="password">كلمة المرور</label>
                     <input type="text" id="password" name="password" value="Drop Table">
                 </div>
                 <br>
                 <div class="form-group">
                     <label for="confirmPassword">تأكيد كلمة المرور</label>
                     <input type="text" id="confirmPassword" name="confirmPassword" value="Drop Table">
                 </div>
                 <br>
                 <div class="button-group">
                     <button type="button" class="cancel-edit">إلغاء</button>
                     <button type="submit">تحديث المعلومات</button>
                 </div>
             </form> 
            </div>
         </div>
     </div>
    
     <div class="delete-overlay" dir="rtl">
        <div class="delete-overlay-container">
            <header>تأكيد عملية الحذف</header>
            <h3 class="message"><i class="fa-solid fa-triangle-exclamation fa-xlg" style="color: #f74600;"></i>هل أنت متأكد من عملية الحذف؟</h3>
            <div class="buttons-container">
                <button class="cancel-deletion">إغلاق</button>
                <form action="adminProfileDelete" method="post">
                <input type="hidden" name="oldid" value= <%= id %>>
                <button class="confirm-deletion">تأكيد</button>
                </form>
            </div>
        </div>
     </div>
    
    <div class = "Nav-bar">
        
            
        <div class = "Left-nav">
            <a href="homePage" class=""><button class = "Nav-bar-btn">الصفحة الرئيسية</button></a>
            <a href="appointments" class=""><button class = "Nav-bar-btn">المواعيد</button></a>
            <a href="patients" class=""><button class = "Nav-bar-btn">المرضى</button></a>
            <a href="doctors" class=""><button class = "Nav-bar-btn">الجراحون</button></a>
            <a href="admins" class=""><button class = "Nav-bar-btn">المشرفون</button></a>
            <a href="operations" class=""><button class = "Nav-bar-btn">العمليات</button></a>
            <a href="devices" class=""><button class = "Nav-bar-btn">المعدات</button></a>
        </div>
        <div class = "Right-nav">
            <div class = "Admin-data">
                <img src="./images/myImage.jpg" alt="An admin's image" class = "Admin-img">
                <div class="navbar-name"><%= name %></div>
    
            </div>
            <a href="currentAdminProfile"><button class = "Nav-bar-icon-btn"><i class="fa-solid fa-user"></i></button></a>
            <a href="/"><button class = "Nav-bar-icon-btn"><i class="fa-solid fa-right-from-bracket Exit-icon"></i></button></a>
    
    
        </div>
    
    </div>
    <div class="container">
       
    <div class="upperdiv">
        
        <div class="title">
            <h1>الملف الشخصي للمشرف</h1>
        </div>
        <div class="buttons">
            <button class="edit-btn">تعديل</button>
            <button class="delete-btn">حذف</button>
        </div>
        <div class="profile">
            <img src="./images/admin.jpeg" alt="صورة المشرف" class="profile-img">
            <div class="info">
                <h2><%= adminName %>  </h2>
                <p><%= email %></p>
            </div>
        </div>
        <div class="details">
            <p><i class="fas fa-id-card" ></i> الرقم القومي: <%= id %></p>
            <p><i class="fas fa-phone-alt"></i> رقم الهاتف: <%= mobile %></p>
            <p><i class="fas fa-birthday-cake"></i> العمر: <%= age %> سنة</p>
            <p><i class="fas fa-calendar-alt"></i> تاريخ الميلاد: <%= birthDate %></p>
            <p><i class="fas fa-mars"></i> الجنس: <%= sex %></p>
            <p><i class="fas fa-map-marker-alt"></i> العنوان: <%= address %></p>
        </div>
    </div>
        
    </div>
    <script src="./js/edit&deleteButtons.js"></script>
    
</body>
</html>