<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admins</title>
    <link rel="stylesheet" href="./styles/admins.css">
    <link rel="stylesheet" href="./styles/editAdmin_style.css">
    <link rel="stylesheet" href="./styles/deleteOverlay.css">
    <link rel="stylesheet" href="./styles/addAdmin.css">
    <link rel="stylesheet" href="./styles/partial css/overlay.css">
    <script src="https://kit.fontawesome.com/011f0557e4.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="Nav-bar">
        <div id="Right-nav">
            <a href="/"><button class="Nav-bar-icon-btn"><i class="fa-solid fa-right-from-bracket Exit-icon"></i></button></a>
            <button class="Nav-bar-icon-btn"><i class="fa-solid fa-moon"></i></button>
            <a href="currentAdminProfile"><button class = "Nav-bar-icon-btn"><i class="fa-solid fa-user"></i></button></a>
            <div id="Admin-data">
                <div class="navbar-name"><%= name %></div>
                <img src="./images/myImage.jpg" alt="An admin's image" id="Admin-img">
            </div>
        </div>
        <div id="Left-nav">
            <a href="devices" class=""><button class = "Nav-bar-btn">المعدات</button></a>
            <a href="operations" class=""><button class = "Nav-bar-btn">العمليات</button></a>
            <a href="admins" class=""><button class = "Nav-bar-btn">المشرفون</button></a>
            <a href="doctors" class=""><button class = "Nav-bar-btn">الجراحون</button></a>
            <a href="patients" class=""><button class = "Nav-bar-btn">المرضى</button></a>
            <a href="appointments" class=""><button class = "Nav-bar-btn">المواعيد</button></a>
            <a href="homePage" class=""><button class = "Nav-bar-btn">الصفحة الرئيسية</button></a>
        </div>
    </div>

    <div class="main" dir="rtl" lang="ar">
        <div class="container">
            <div class="upper-div">
                <div class="title">المشرفون</div>
                <div class="search">
                    <div class="buttons">
                        <button class="all">الكل</button>
                        <button class="active">ذكر</button>
                        <button class="inactive">أنثي</button>
                    </div>
                    <select class="combobox">
                        <option value="purchaseDate-asc">الترتيب حسب الاسم (من ألألف الي الياء)</option>
                        <option value="purchaseDate-desc">الترتيب حسب الاسم (من الياء الي الألف)</option>
                        <option value="name-asc">الترتيب حسب العمر (تصاعديا)</option>
                        <option value="name-desc">الترتيب حسب العمر (تنازليا)</option>
                    </select>
                    <button class="addButton"><i class="fa-solid fa-plus fa-xl add-icon"></i></button>
                </div>
            </div>
            <div class="lowerdiv">
                <header class="table-header">
                    <div class="header-col"><div class="header-top">الاسم</div><div class="header-bottom">الرقم القومي</div></div>
                    <div class="header-col">الجنس</div>
                    <div class="header-col"><div class="header-top">العمر</div><div class="header-bottom">تاريخ الميلاد</div></div>
                </header>

                <div class="admins">
                    <% for( var i = 0 ; i < allAdmins.length ; i++ ){%>
                        <div class="admin-row"><div class="admin-col"><div class="top"><%= allAdmins[i]["name"] %></div><div class="bottom id"><%= allAdmins[i]["nationalid"] %></div></div><div class="admin-col"><div class="admin-gender"><%= allAdmins[i]["sex"] %></div></div><div class="admin-col"><div class="top"><%= new Date().getFullYear() - new Date(allAdmins[i]["birthdate"]).getFullYear() %> عاما</div><div class="bottom"><%= `${new Date(allAdmins[i]["birthdate"]).getDate()}-${new Date(allAdmins[i]["birthdate"]).getMonth() + 1}-${new Date(allAdmins[i]["birthdate"]).getFullYear()}` %></div></div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><form action="previewAdminProfile" method="post"><input type="hidden" value="<%= allAdmins[i]["nationalid"] %>" name="hiddenPreviewID"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button></form><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>


    <!-- add overlay pages -->
     <div class="edit-overlay">
        <div class="edit-overlay-container">
      
        
            <div class="edit-overlay-content">
             <h1 class="head">  تعديل بيانات المشرف</h1>
             <div class="errorMessage"><%= editErrorMessage %></div>
             <br>
             
             <form action="adminsPageEdit" method="POST">
                 <div class="form-group">
                     <label for="name">الاسم</label>
                     <input type="text" id="name" name="name" value="احمد محمد">
                 </div>
                 <br>
     
                 <div class="form-group">
                     <label for="id">الرقم القومي</label>
                     <input type="text" id="id" name="id" value="303060">
                 </div>
                 <br>
     
                 <div class="form-group">
                     <label for="birthDate">تاريخ الميلاد</label>
                     <input type="date" id="birthDate" name="birthDate" >
                 </div>
                 <br>
     
                 
                 <div class="form-group">
                     <!-- Other form fields (name, email, password, etc.) -->
                 
                     <label for="gender">الجنس</label>
                     <input type="radio" name="sex" value="Male" required /><span class="sexVal">ذكر</span>
                     <input type="radio" name="sex" value="Female" required /><span class = "sexVal">أنثى</span>
                 
                     <!-- Submit button and other fields go here -->
                 </div>
     
                 <!-- <div class="form-group">
                     <label>الجنس</label>
                     <div class="radio-group">
                         <input type="radio" id="male" name="sex" value="male" checked>
                         <label for="male" ><strong class="sexVal">ذكر</strong></label>
                         <input type="radio" id="female" name="sex" value="female" >
                         <label for="female"><strong class="sexVal">أنثى</strong></label>
                     </div>
                 </div> -->
                 <br>
     
                 <div class="form-group">
                    <!-- Other form fields (name, email, password, etc.) -->
                
                    <label for="image">صورة المشرف</label>
                    <input type="file" name="image">
                
                    <!-- Submit button and other fields go here -->
                </div>
                 <br>
                 <div class="form-group">
                     <label for="email">البريد الالكتروني</label>
                     <input type="tel" id="email" name="email" value="admin@example">
                 </div>
                 <br>
     
                 <div class="form-group">
                     <label for="mobile">رقم الهاتف</label>
                     <input type="tel" id="mobile" name="mobile" value="031321">
                 </div>
                 <br>
     
                 <div class="form-group">
                     <label for="address">العنوان</label>
                     <input type="text" id="address" name="address" value="شارع علي علوكة">
                 </div>
                 <br>
    
                 <div class="form-group">
                     <label for="password">كلمة المرور</label>
                     <input type="text" id="password" name="password" value="Drop Table">
                 </div>
                 <br>
                 <div class="form-group">
                     <label for="confirmPassword">تأكيد كلمة المرور</label>
                     <input type="text" id="confirmPassword" name="password" value="Drop Table">
                 </div>
                 <br>
                 <div class="button-group">
                     <button type="button" class="cancel-edit">إلغاء</button>
                     <button type="submit">تحديث المعلومات</button>
                 </div>
                 <input type="hidden" name="editID" value="" class="editHiddenID">
             </form> 
            </div>
         </div>
     </div>

    <div class="delete-overlay" dir="rtl">
    <div class="delete-overlay-container">
        <header>تأكيد عملية الحذف</header>
        <h3 class="message"><i class="fa-solid fa-triangle-exclamation fa-xlg" style="color: #f74600;"></i>هل أنت متأكد من عملية الحذف؟</h3>
        <div class="buttons-container">
            <button class="cancel-deletion">إغلاق</button>
            <form action="adminsPageDeleteAdmin" method="post">
            <input type="hidden" name="deletetionID" value="" class="DeletionHiddenID">
            <button class="confirm-deletion">تأكيد</button>
            </form>
        </div>
    </div>
    </div>

    <div class="overlay overlay3 <%= show %>">
        <div class="addAdmin">
            <h5> تسجيل مشرف جديد</h5>
            <div class="errorMessage"><%= errorMessage %></div>
            <form action="adminsPageAdd" method="post">
                <label for="name" dir='rtl' lang='ar'>اسم المشرف</label>
                <input type="name" name="name" placeholder="ادخل اسم المستخدم" dir='rtl' lang='ar' required>
                <label for="nationalID" dir='rtl' lang='ar'>الرقم القومي للمشرف</label>
                <input type="name" name="nationalID" placeholder="ادخل الرقم القومي" dir='rtl' lang='ar' required>
                <label for="birthDate">تاريخ الميلاد</label>
                <input type="date" name="birthDate" >
                <label for="gender">جنس الجراح</label>
                <div class="form-group">
                    <!-- Other form fields (name, email, password, etc.) -->
                
                    <input type="radio" name="sex" value="ذكر" required /><span class="sexVal">ذكر</span>
                    <input type="radio" name="sex" value="أنثي" required /><span class = "sexVal">أنثى</span>
                
                    <!-- Submit button and other fields go here -->
                </div>

                <label for="image"dir='rtl' lang='ar'>صورة المشرف</label>
                <input type="file" name="image">
                <label for="email" dir='rtl' lang='ar'>البريد الاكتروني</label>
                <input type="email" name="email" placeholder="ادخل ال Email" dir='rtl' lang='ar' required>
                <label for="password" dir='rtl' lang='ar'>كلمة المرور</label>
                <input type="password" name="password" placeholder="ادخل ال password" dir='rtl' lang='ar' required>
                <label for="repassword" dir='rtl' lang='ar'>تأكيد كلمة المرور</label>
                <input type="password" name="repassword" placeholder="ادخل ال password مرة اخري " dir='rtl' lang='ar' required>
                <label for="phone" dir='rtl' lang='ar'>رقم الهاتف المحمول</label>
                <input type="phone" name="phone" placeholder=" ادخل رقم الهاتف المحمول"dir='rtl' lang='ar' required>
                <label for="address" dir='rtl' lang='ar'>عنوان المشرف</label>
                <input type="address" name="address" placeholder="ادخل عنوان المستخدم" dir='rtl' lang='ar' required>
                <div class="buttonContainer" dir='rtl' lang='ar' >
                    <button class="submitt" dir='rtl' lang='ar'>حفظ</button>
                    <button class="cancel"dir='rtl' lang='ar'> إغلاق</button>
                </div>
            </form>
        </div>
    </div>
    <script src="./js/addbutton.js"></script>
    <script src="./js/3DotsMenu.js"></script>
</body>

</html>