<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>المواعيد</title>
    <link rel="stylesheet" href="./styles/appointments.css">
    <link rel="stylesheet" href="./styles/deleteOverlay.css">
    <link rel="stylesheet" href="./styles/editAppointment_style.css">
    <link rel="stylesheet" href="./styles/addAppointment.css">
    <link rel="stylesheet" href="./styles/partial css/overlay.css">
    <link rel="icon" href="images/favIcon.png" type="image/png">
    <script src="https://kit.fontawesome.com/011f0557e4.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="Nav-bar">
        <div id="Right-nav">
            <a href="/logout"><button class="Nav-bar-icon-btn"><i class="fa-solid fa-right-from-bracket Exit-icon"></i></button></a>
            <a href="currentAdminProfile"><button class = "Nav-bar-icon-btn"><i class="fa-solid fa-user"></i></button></a>
            <div id="Admin-data">
                <div class="navbar-name"><%= name %></div>
                <img src=<%= image%> alt="An admin's image" id="Admin-img">
            </div>
        </div>
        <div id="Left-nav">
            <a href="devices" class=""><button class = "Nav-bar-btn">الأجهزة</button></a>
            <a href="operations" class=""><button class = "Nav-bar-btn">العمليات</button></a>
            <a href="admins" class=""><button class = "Nav-bar-btn">المشرفون</button></a>
            <a href="doctors" class=""><button class = "Nav-bar-btn">الجراحون</button></a>
            <a href="patients" class=""><button class = "Nav-bar-btn">المرضى</button></a>
            <a href="appointments" class=""><button class = "Nav-bar-btn openedPageHighlighted">المواعيد</button></a>
            <a href="homePage" class=""><button class = "Nav-bar-btn">الصفحة الرئيسية</button></a>
        </div>
    </div>

    <div class="main" dir="rtl" lang="ar">
        <div class="container">
            <div class="upper-div">
                <div class="title">المواعيد</div>
                <div class="search">
                    <!-- <div class="buttons">
                        <button class="all">الكل</button>
                        <button class="active">ذكر</button>
                        <button class="inactive">أنثى</button>
                    </div> -->
                    <input type="hidden" id = "hiddenSelect" value="<%=selectElementValue%>">
                    <select class="combobox" id="endpoint-select">
                        <option value="/appointments">بدون ترتيب</option>
                        <option value="/appointmentsSBPNA">الترتيب حسب اسم المريض (من ألألف الي الياء)</option>
                        <option value="/appointmentsSBPND">الترتيب حسب اسم المريض (من الياء الي الألف)</option>
                        <option value="/appointmentsSBSNA">الترتيب حسب اسم الجراح (من ألألف الي الياء)</option>
                        <option value="/appointmentsSBSND">الترتيب حسب اسم الجراح (من الياء الي الألف)</option>
                        <option value="/appointmentsSBANA">الترتيب حسب رقم الميعاد (تصاعديا)</option>
                        <option value="/appointmentsSBAND">الترتيب حسب رثم الميعاد (تنازليا)</option>
                        <option value="/appointmentsSBDA">الترتيب حسب التاريخ (من الأقدم الي الأحدث)</option>
                        <option value="/appointmentsSBDD">الترتيب حسب التاريخ (من الأحدث الي الأقدم)</option>
                    </select>
                    <button class="addButton"><i class="fa-solid fa-plus fa-xl add-icon"></i></button>
                </div>
            </div>
            <div class="lowerdiv">
                <header class="table-header">
                    <div class="header-col">رقم الميعاد</div>
                    <div class="header-col"><div class="header-top">اسم العملية</div><div class="header-bottom">كود العملية</div></div>
                    <div class="header-col"><div class="header-top">اسم المريض</div><div class="header-bottom">الرقم التعريفي</div></div>
                    <div class="header-col"><div class="header-top">اسم الجراح</div><div class="header-bottom">الرقم التعريفي</div></div>
                    <div class="header-col"><div class="header-top">رقم الغرفة</div><div class="header-bottom">المدة</div></div>
                    <div class="header-col"><div class="header-top">التاريخ</div><div class="header-bottom">التوقيت</div></div>
                </header>

                <div class="appointments">
                    <% for( var i = 0 ; i < allAppointments.length ; i++ ){%>
                    <div class="appointment-row"><div class="appointment-col id"><div><%= allAppointments[i]["appointmentid"] %></div></div><div class="appointment-col"><div class="top"><%= allAppointments[i]["operationname"] %></div><div class="bottom"><%= allAppointments[i]["operationid"] %></div></div><div class="appointment-col"><div class="top"><%= allAppointments[i]["patientname"] %></div><div class="bottom"><%= allAppointments[i]["patientid"] %></div></div><div class="appointment-col"><div class="top"><%= allAppointments[i]["surgeonname"] %></div><div class="bottom"><%= allAppointments[i]["surgeonid"] %></div></div><div class="appointment-col"><div class="top"><%= allAppointments[i]["roomnumber"] %></div><div class="bottom"><%= allAppointments[i]["operationduration"]%> ساعات</div></div><div class="appointment-col"><div class="top"><%= `${new Date(allAppointments[i]["date"]).getDate()}-${new Date(allAppointments[i]["date"]).getMonth() + 1}-${new Date(allAppointments[i]["date"]).getFullYear()}` %></div><div class="bottom"><%= allAppointments[i]["time"] %></div></div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>  
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <!-- add overlay pages -->

    <div class="edit-overlay <%=editShow%>">
        <div class="edit-overlay-container">
            <div class="edit-overlay-content">
                <h1 class="head"> تعديل المقابلة</h1>
                <div class="errorMessage"><%= editErrorMessage %></div>
                <br>

                <form action="appointmentsPageEdit" method="POST">
                    <input type="hidden" name="oldID" value="<%=savedID%>" class="editHiddenID">
                    <div class="form-group">
                        <label for="patientID">الرقم القومي للمريض</label>
                        <input type="text" id="patientID" name="patientID" required>
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="surgeonID">الرقم القومي للجراح</label>
                        <input type="text" id="surgeonID" name="surgeonID" required>
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="operationID">كود العملية</label>
                        <input type="text" id="operationID" name="operationID" required>
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="roomNumber">رقم الغرفة</label>
                        <input type="text" id="roomNumber" name="roomNumber" required>
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="date">تاريخ العملية</label>
                        <input type="date" id="date" name="date" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="time">ميعاد العملية</label>
                        <input type="time" id="time" name="time" required>
                    </div>
                    <br>

                    <div class="button-group">
                        <button type="button" class="cancel-edit">إلغاء</button>
                        <button type="submit">تحديث المعلومات</button>
                    </div>
            </div>
            </form>
        </div>
    </div>

    <div class="delete-overlay" dir="rtl">
        <div class="delete-overlay-container">
            <header>تأكيد عملية الحذف</header>
            <h3 class="message"><i class="fa-solid fa-triangle-exclamation fa-xlg" style="color: #f74600;"></i>هل أنت
                متأكد من عملية الحذف؟</h3>
            <div class="buttons-container">
                <button class="cancel-deletion">إغلاق</button>
                <form action="appointmentsPageDelete" method="post">
                    <input type="hidden" name="deletetionID" value="" class="DeletionHiddenID">
                    <button class="confirm-deletion">تأكيد</button>
                </form>
            </div>
        </div>
    </div>

    <div class = "overlay6 overlay <%= show %>" >
        <div class="addAppointment">
            <h5> عملية الحجز</h5>
            <div class="errorMessage"><%= errorMessage %></div>
            <form action="appointmentPageAdd" method="post">
                <label for="patientID" dir='rtl' lang='ar'>الرقم القومي للمريض</label>
                <input type="text" name="patientID" placeholder="ادخل الرقم القومي" dir='rtl' lang='ar' required>
                <label for="surgeonID" dir='rtl' lang='ar'>الرقم القومي للجراح</label>
                <input type="text" name="surgeonID" placeholder="ادخل الرقم القومي" dir='rtl' lang='ar' required>
                <label for="operationID" dir='rtl' lang='ar'>رمز تعريف العملية</label>
                <input type="text" name="operationID" placeholder="ادخل رمز تعريف العملية" dir='rtl' lang='ar' required>
                <label for="roomNumber" dir='rtl' lang='ar'>رقم الغرفة</label>
                <input type="text" name="roomNumber" dir='rtl' placeholder="ادخل رقم الغرفة">
                <label for="date" dir='rtl' lang='ar'>اختر التاريخ المناسب</label>
                <input type="date" name="date" placeholder=" اختر التاريخ المناسب" dir='rtl' lang='ar' required>
                <label for="time" dir='rtl' lang='ar'>اختر الميعاد المناسب</label>
                <input type="time" name="time" placeholder=" اختر التاريخ المناسب" dir='rtl' lang='ar' required>
                <div class="buttonContainer" dir='rtl' lang='ar' >
                    <button class="submitt" dir='rtl' lang='ar'>تأكيد الحجز </button>
                    <button class="cancel"dir='rtl' lang='ar'> إغلاق</button>
                </div>
            </form>
        </div>
    </div>
    <script src="./js/addbutton.js"></script>
    <script src="./js/3DotsMenu.js"></script>
</body>

</html>