<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الجراحين</title>
    <link rel="stylesheet" href="./styles/deleteOverlay.css">
    <link rel="stylesheet" href="./styles/editSurgeon.css">
    <link rel="stylesheet" href="./styles/doctors.css">
    <link rel="stylesheet" href="./styles/partial css/overlay.css">
    <link rel="stylesheet" href="./styles/addSurgeon.css">
    <script src="https://kit.fontawesome.com/011f0557e4.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="Nav-bar">
        <div id="Right-nav">
            <a href="/"><button class="Nav-bar-icon-btn"><i class="fa-solid fa-right-from-bracket Exit-icon"></i></button></a>
            <button class="Nav-bar-icon-btn"><i class="fa-solid fa-moon"></i></button>
            <a href="currentAdminProfile"><button class = "Nav-bar-icon-btn"><i class="fa-solid fa-user"></i></button></a>
            <div id="Admin-data">
                <div class="navbar-name"><%= name %></div>
                <img src="./images/myImage.jpg" alt="An admin's image" id="Admin-img">
            </div>
        </div>
        <div id="Left-nav">
            <a href="devices" class=""><button class = "Nav-bar-btn">المعدات</button></a>
            <a href="operations" class=""><button class = "Nav-bar-btn">العمليات</button></a>
            <a href="admins" class=""><button class = "Nav-bar-btn">المشرفون</button></a>
            <a href="doctors" class=""><button class = "Nav-bar-btn">الجراحون</button></a>
            <a href="patients" class=""><button class = "Nav-bar-btn">المرضى</button></a>
            <a href="appointments" class=""><button class = "Nav-bar-btn">المواعيد</button></a>
            <a href="homePage" class=""><button class = "Nav-bar-btn">الصفحة الرئيسية</button></a>
        </div>
    </div>

    <div class="main" dir="rtl" lang="ar">
        <div class="container">
            <div class="upper-div">
                <div class="title">الجراحون</div>
                <div class="search">
                    <div class="buttons">
                        <button class="all">الكل</button>
                        <button class="active">ذكر</button>
                        <button class="inactive">أنثي</button>
                    </div>
                    <select class="combobox">
                        <option value="purchaseDate-asc">الترتيب حسب الاسم (من ألألف الي الياء)</option>
                        <option value="purchaseDate-desc">الترتيب حسب الاسم (من الياء الي الألف)</option>
                        <option value="name-asc">الترتيب حسب العمر (تصاعديا)</option>
                        <option value="name-desc">الترتيب حسب العمر (تنازليا)</option>
                    </select>
                    <button class="addButton"><i class="fa-solid fa-plus fa-xl add-icon"></i></button>
                </div>
            </div>
            <div class="lowerdiv">
                <header class="table-header">
                    <div class="header-col"><div class="header-top">الاسم</div><div class="header-bottom">الرقم القومي</div></div>
                    <div class="header-col">الجنس</div>
                    <div class="header-col"><div class="header-top">العمر</div><div class="header-bottom">تاريخ الميلاد</div></div>
                    <div class="header-col">التخصص</div>
                </header>

                <div class="doctors">
                    <% for( var i = 0 ; i < allDoctors.length ; i++ ){%>
                    <div class="doctor-row"><div class="doctor-col"><div class="top"><%= allDoctors[i]["name"] %></div><div class="bottom id"><%= allDoctors[i]["nationalid"] %></div></div><div class="doctor-col"><div class="doctor-gender"><%= allDoctors[i]["sex"] %></div></div><div class="doctor-col"><div class="top"><%= new Date().getFullYear() - new Date(allDoctors[i]["birthdate"]).getFullYear() %>عاما </div><div class="bottom"><%= `${new Date(allDoctors[i]["birthdate"]).getDate()}-${new Date(allDoctors[i]["birthdate"]).getMonth() + 1}-${new Date(allDoctors[i]["birthdate"]).getFullYear()}` %></div></div><div class="doctor-col"><div class="top"><%= allDoctors[i]["speciality"] %></div></div><div class="menu-col"><i class="fa-solid fa-ellipsis fa-2xl threeDots" style="color: #3d74ff;"></i><div class="content"><form action="previewDoctorProfile" method="post"><input type="hidden" value="<%= allDoctors[i]["nationalid"] %>" name="hiddenPreviewID"><button class="display"><i class="fa-solid fa-display fa-lg" style="color: #3d74ff;"></i>عرض</button></form><button class="edit"><i class="fa-solid fa-gear fa-xl" style="color: #3d74ff;"></i> تعديل</button><button class="delete"><i class="fa-solid fa-trash fa-xl" style="color: #ff3d3d;"></i> حذف</button></div></div></div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <div class="edit-overlay">
        <div class="edit-overlay-container">
           <div class="edit-overlay-content">
            <h1 class="head"> تعديل بيانات الجراح</h1>
            <br>
           
            
            <form action="editSurgeon" method="POST">
                <div class="form-group">
                    <label for="name">الاسم</label>
                    <input type="text" id="name" name="name" value=" محمد احمد">
                </div>
                <br>
    
                <div class="form-group">
                    <label for="id">الرقم القومي</label>
                    <input type="text" id="id" name="id" value="3030630">
                </div>
                <br>
    
                <div class="form-group">
                    <label for="birthDate">تاريخ الميلاد</label>
                    <input type="date" id="birthDate" name="birthDate" >
                </div>
                <br>
    
                
                <div class="form-group">
                    <!-- Other form fields (name, email, password, etc.) -->
                
                    <label for="gender">الجنس</label>
                    <input type="radio" name="sex" value="ذكر" required /><span class="sexVal">ذكر</span>
                    <input type="radio" name="sex" value="أنثي" required /><span class = "sexVal">أنثى</span>
                
                    <!-- Submit button and other fields go here -->
                </div>
                <br>

                <div class="form-group">
                    <!-- Other form fields (name, email, password, etc.) -->
                
                    <label for="image">صورة الجراح</label>
                    <input type="file" name="image">
                
                    <!-- Submit button and other fields go here -->
                </div>
    
                <br>
    
    
                <div class="form-group">
                    <label for="email">البريد الالكتروني</label>
                    <input type="text" id="email" name="email" value="doctor@example">
                </div>
                <br>
                
    
    
                <div class="form-group">
                    <label for="mobile">رقم الهاتف</label>
                    <input type="tel" id="mobile" name="mobile" value="031321">
                </div>
                <br>
    
                <div class="form-group">
                    <label for="address">العنوان</label>
                    <input type="text" id="address" name="address" value="شارع علي علوكة">
                </div>
                <br>
    
    
                <div class="form-group">
                    <label for="special">التخصص </label>
                    <input type="text" id="special" name="special" value="[جراحة العيون]" dir="rtl">
                </div>
    
                <br>
    
                <div class="button-group">
                    <button type="button" class="cancel-edit">إلغاء</button>
                    <button type="submit">تحديث المعلومات</button>
                </div>
            </form> 
           </div>
        </div>
    </div>

    <div class="delete-overlay" dir="rtl">
        <div class="delete-overlay-container">
            <header>تأكيد عملية الحذف</header>
            <h3 class="message"><i class="fa-solid fa-triangle-exclamation fa-xlg" style="color: #f74600;"></i>هل أنت متأكد من عملية الحذف؟</h3>
            <div class="buttons-container">
                <button class="cancel-deletion">إغلاق</button>
                <form action="doctorsPageDelete" method="post">
                    <input type="hidden" name="deletetionID" value="" class="DeletionHiddenID">
                    <button class="confirm-deletion">تأكيد</button>
                </form>
            </div>
        </div>
        </div>

        <div class="overlay1 overlay <%= show %>">
            <div class="addSurgeon">
                <h5>إضافة جراح </h5>
                <div class="errorMessage"><%= errorMessage %></div>
                <form action="doctorsPageAdd" method="post">
                    <label for="name" dir='rtl' lang='ar'>اسم الجراح</label>
                    <input type="name" name="name" placeholder="ادخل الاسم" dir='rtl' lang='ar' required>
                    <label for="ID" dir='rtl' lang='ar'>الرقم القومي للجراح</label>
                    <input type="ID" name="nationalID" placeholder="ادخل الرقم القومي" dir='rtl' lang='ar' required>
                    <label for="birthDate">تاريخ الميلاد</label>
                    <input type="date" name="birthDate" >
                    <label for="gender">جنس الجراح</label>
                    <div class="form-group">
                        <!-- Other form fields (name, email, password, etc.) -->
                    
                        <input type="radio" name="sex" value="ذكر" required /><span class="sexVal">ذكر</span>
                        <input type="radio" name="sex" value="أنثي" required /><span class = "sexVal">أنثى</span>
                    
                        <!-- Submit button and other fields go here -->
                    </div>
    
                    <label for="image" dir='rtl' lang='ar'>صورة الجراح</label>
                    <input type="file" name="image">
        
                    <label for="address" dir='rtl' lang='ar'>عنوان الجراح</label>
                    <input type="address" name="address" placeholder="ادخل العنوان" dir='rtl' lang='ar' required>
                    <label for="email" dir='rtl' lang='ar'>البريد الالكتروني للجراح</label>
                    <input type="email" name="email" placeholder="ادخل البريد الاكتروني" dir='rtl' lang='ar' required>
                    <label for="phone" dir='rtl' lang='ar'>رقم هاتف الجراح</label>
                    <input type="phone" name="phone" placeholder=" ادخل رقم الهاتف"dir='rtl' lang='ar' required>
                    <label for="speciality" dir='rtl' lang='ar'>تخصص الجراح</label>
                    <input type="speciality" name="speciality" placeholder="ادخل التخصص" dir='rtl' lang='ar' required>
                    <div class="buttonContainer" dir='rtl' lang='ar' >
                        <button class="submitt" dir='rtl' lang='ar'>حفظ</button>
                        <button class="cancel"dir='rtl' lang='ar'> إغلاق</button>
                    </div>
                </form>
            </div>
        </div>

    <script src="./js/addbutton.js"></script>
    <script src="./js/3DotsMenu.js"></script>
</body>

</html>