<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الصفحة الرئيسية</title>
    <link rel="stylesheet" href="./styles/home.css">
    <link rel="stylesheet" href="./styles/partial css/navigationBar.css">
    <link rel="stylesheet" href="./styles/partial css/overlay.css">
    <link rel="stylesheet" href="./styles/addSurgeon.css">
    <link rel="stylesheet" href="./styles/addAdmin.css">
    <link rel="stylesheet" href="./styles/addOperation.css">
    <link rel="stylesheet" href="./styles/addDeviceStyle.css">
    <link rel="stylesheet" href="./styles/addAppointment.css">
    <link rel="stylesheet" href="./styles/addPatient.css">
    <link rel="icon" href="images/favIcon.png" type="image/png">
    <script src="https://kit.fontawesome.com/011f0557e4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class = "Nav-bar">
        <div class="overlay1 <%= show1 %>">
        <div class="container addSurgeon">
            <h5>إضافة جراح </h5>
            <div class="errorMessage"><%= errorMessage %></div>
            <form action="addSurgeon" method="post" enctype="multipart/form-data">
                <label for="name" dir='rtl' lang='ar'>اسم الجراح</label>
                <input type="name" name="name" placeholder="ادخل الاسم" dir='rtl' lang='ar' required>
                <label for="ID" dir='rtl' lang='ar'>الرقم القومي للجراح</label>
                <input type="ID" name="ID" placeholder="ادخل الرقم القومي" dir='rtl' lang='ar' required>
                <label for="birthDate">تاريخ الميلاد</label>
                <input type="date" name="birthdate" required>
                <label for="gender">جنس الجراح</label>
                <div class="form-group">
                    <!-- Other form fields (name, email, password, etc.) -->
                
                    <input type="radio" name="sex" value="ذكر" required /><span class="sexVal">ذكر</span>
                    <input type="radio" name="sex" value="أنثى" required /><span class = "sexVal">أنثى</span>
                
                    <!-- Submit button and other fields go here -->
                </div>

                <label for="image" dir='rtl' lang='ar'>صورة الجراح</label>
                <input type="file" name="image" required>
    
                <label for="address" dir='rtl' lang='ar'>عنوان الجراح</label>
                <input type="address" name="address" placeholder="ادخل العنوان" dir='rtl' lang='ar' required>
                <label for="email" dir='rtl' lang='ar'>البريد الالكتروني للجراح</label>
                <input type="email" name="email" placeholder="ادخل البريد الاكتروني" dir='rtl' lang='ar' required>
                <label for="phone" dir='rtl' lang='ar'>رقم هاتف الجراح</label>
                <input type="phone" name="phone" placeholder=" ادخل رقم الهاتف"dir='rtl' lang='ar' required>
                <label for="speciality" dir='rtl' lang='ar'>تخصص الجراح</label>
                <input type="speciality" name="speciality" placeholder="ادخل التخصص" dir='rtl' lang='ar' required>
                <div class="buttonContainer" dir='rtl' lang='ar' >
                    <button class="submitt" dir='rtl' lang='ar'>حفظ</button>
                    <button class="cancel"dir='rtl' lang='ar'> إغلاق</button>
                </div>
            </form>
        </div>
    </div>
    <div class = "overlay2 <%= show2 %>">
        <div class="container addPatient">
            <h5> إضافة مريض</h5>
            <div class="errorMessage"><%= errorMessage %></div>
            <form action="addPatient" method="post" enctype="multipart/form-data">
                <label for="name" dir='rtl' lang='ar'>اسم المريض</label>
                <input type="name" name="name" placeholder="ادخل اسم المريض" dir='rtl' lang='ar' required>
                <label for="ID" dir='rtl' lang='ar'>الرقم القومي للمريض</label>
                <input type="ID" name="ID" placeholder="ادخل الرقم القومي" dir='rtl' lang='ar' required>
                <label for="birthDate">تاريخ الميلاد</label>
                <input type="date" name="birthDate" >
                <label for="gender">جنس المريض</label>
                <div class="form-group">
                    <!-- Other form fields (name, email, password, etc.) -->
                
                    <input type="radio" name="sex" value="ذكر" required /><span class="sexVal">ذكر</span>
                    <input type="radio" name="sex" value="أنثى" required /><span class = "sexVal">أنثى</span>
                
                    <!-- Submit button and other fields go here -->
                </div>

                <label for="image"dir='rtl' lang='ar'>صورة المريض</label>
                <input type="file" name="image" required>

                <label for="address" dir='rtl' lang='ar'>عنوان المريض</label>
                <input type="address" name="address" placeholder="ادخل عنوان المريض" dir='rtl' lang='ar' required>
                <label for="phone" dir='rtl' lang='ar'>رقم هاتف المريض</label>
                <input type="phone" name="phone" placeholder=" ادخل رقم الهاتف"dir='rtl' lang='ar' required>
                <div class="buttonContainer" dir='rtl' lang='ar' >
                    <button class="submitt" type="submit" dir='rtl' lang='ar'>حفظ</button>
                    <button class="cancel"dir='rtl' lang='ar'> إغلاق</button>
                </div>
            </form>
        </div>
    </div>
    <div class="overlay3 <%= show3 %>" >
        <div class="container addAdmin">
            <h5> تسجيل مشرف جديد</h5>
            <div class="errorMessage"><%= errorMessage %></div>
            <form action="addAdmin" method="post" enctype="multipart/form-data">
                <label for="name" dir='rtl' lang='ar'>اسم المشرف</label>
                <input type="name" name="name" placeholder="ادخل اسم المستخدم" dir='rtl' lang='ar' required>
                <label for="nationalID" dir='rtl' lang='ar'>الرقم القومي للمشرف</label>
                <input type="name" name="nationalID" placeholder="ادخل الرقم القومي" dir='rtl' lang='ar' required>
                <label for="birthDate">تاريخ الميلاد</label>
                <input type="date" name="birthDate" required>
                <label for="gender">جنس المشرف</label>
                <div class="form-group">
                    <!-- Other form fields (name, email, password, etc.) -->
                    <input type="radio" name="sex" value="ذكر" required /><span class="sexVal">ذكر</span>
                    <input type="radio" name="sex" value="أنثى" required/><span class = "sexVal">أنثى</span>
                
                    <!-- Submit button and other fields go here -->
                </div>

                <label for="image" dir='rtl' lang='ar'>صورة المشرف</label>
                <input type="file" name="image" required>
                <label for="email" dir='rtl' lang='ar'>البريد الالكتروني</label>
                <input type="email" name="email" placeholder="ادخل البريد الالكتروني" dir='rtl' lang='ar' required>
                <label for="password" dir='rtl' lang='ar'>كلمة المرور</label>
                <input type="password" name="password" placeholder="ادخل كلمة المرور" dir='rtl' lang='ar' required>
                <label for="repassword" dir='rtl' lang='ar'>تأكيد كلمة المرور</label>
                <input type="password" name="repassword" placeholder="ادخل كلمة المرور مرة اخرى " dir='rtl' lang='ar' required>
                <label for="phone" dir='rtl' lang='ar'>رقم الهاتف المحمول</label>
                <input type="phone" name="phone" placeholder=" ادخل رقم الهاتف المحمول"dir='rtl' lang='ar' required>
                <label for="address" dir='rtl' lang='ar'>عنوان المشرف</label>
                <input type="address" name="address" placeholder="ادخل عنوان المستخدم" dir='rtl' lang='ar' required>
                <div class="buttonContainer" dir='rtl' lang='ar' >
                    <button class="submitt" dir='rtl' lang='ar'>حفظ</button>
                    <button class="cancel"dir='rtl' lang='ar'> إغلاق</button>
                </div>
            </form>
            
        </div>
    </div>
    <div class = "overlay4 <%= show4 %>" >
        <div class="container addOperation">
            <h5> إضافة عملية</h5>
            <div class="errorMessage"><%= errorMessage %></div>
            <form dir='rtl' action="addOperation" method="post">
                <label for="name" dir='rtl' lang='ar'>اسم العملية</label>
                <input type="text" name="name" placeholder="ادخل اسم العملية" dir='rtl' lang='ar' required>
                <label for="price" dir='rtl' lang='ar'>سعر العملية</label>
                <input type="text" name="price" placeholder="ادخل سعر العملية" dir='rtl' lang='ar' required>
                <label for="duration" dir='rtl' lang='ar'>مدة العملية</label>
                <input type="number" name="duration" placeholder="ادخل مدة العملية بالساعات" dir='rtl' lang='ar' required>
                <label for="roomnumber" dir='rtl' lang='ar'>رقم غرفة العملية</label>
                <input type="text" name="roomnumber" placeholder="ادخل رقم الغرفة" dir='rtl' lang='ar' required>

                <label for="usedDevices" id="device-input" dir='rtl'>الاجهزة المستخدمة</label>
                    <div id="fieldContainer" dir='rtl'>
                        <div class="newField">
                            <input type="text" name="multiValueField" placeholder="ادخل كود المنتج للجهاز">
                            <button type="button" class="deleteButton">حذف</button>
                        </div>
                    </div>
                <button type="button" id="add-field-but" dir='rtl'>أضف خانة</button>
                <label for="description" dir='rtl' lang='ar'>رابط وصف العملية</label>
                <input type="text" name="description" placeholder="ادخل رابط لوصف العملية" dir='rtl' lang='ar' required>

                <div class="buttonContainer" dir='rtl' lang='ar' >
                    <button class="submitt" dir='rtl' lang='ar'>حفظ</button>
                    <button class="cancel"dir='rtl' lang='ar'> إغلاق</button>
                </div>
            </form>
        </div>
    </div>
    <div class = "overlay5 <%= show5 %>" >
        <div class="container addDevice">
            <h5> إضافة جهاز</h5>
            <div class="errorMessage"><%= errorMessage %></div>
            <form action="addDevice" method="post">
                <label for="name" dir='rtl' lang='ar'>اسم الجهاز</label>
                <input type="name" name="name" placeholder="ادخل اسم الجهاز" dir='rtl' lang='ar' required>
                <label for="serial" dir='rtl' lang='ar'>الرقم التسلسلي</label>
                <input type="serial" name="serial" placeholder="ادخل الرقم التسلسلي للجهاز" dir='rtl' lang='ar' required>
                <label for="productCode" dir='rtl' lang='ar'>كود المنتج</label>
                <input type="text" id="productCode" name="productCode" placeholder="ادخل كود المنتج لهذا الجهاز"  dir='rtl' lang='ar' required>
                <label for="price" dir='rtl' lang='ar'>سعر الجهاز</label>
                <input type="price" name="price" placeholder="ادخل سعر الجهاز" dir='rtl' lang='ar' required>
                <label for="warranty" dir='rtl' lang='ar'>الضمان</label>
                <input type="warranty" name="warranty" placeholder="ادخل مدة ضمان الجهاز" dir='rtl' lang='ar' required>
                <label for="status" dir='rtl' lang='ar'>حالة الجهاز</label>
                <input type="status" name="status" placeholder="ادخل حالة الجهاز" dir='rtl' lang='ar' required>
                <label for="company" dir='rtl' lang='ar'>اسم الشركة المصنعة</label>
                <input type="company" id="company" name="company" placeholder="ادخل اسم الشركة المصنعة" dir='rtl' lang='ar' required>
                <label for="date" dir='rtl' lang='ar'>تاريخ التصنيع</label>
                <input type="date" name="date" placeholder=" ادخل تاريخ التصنيع"dir='rtl' lang='ar' required>
                <div class="buttonContainer" dir='rtl' lang='ar' >
                    <button class="submitt" dir='rtl' lang='ar'>حفظ</button>
                    <button class="cancel"dir='rtl' lang='ar'> إغلاق</button>
                </div>
            </form>
        </div>
    </div>
    <div class = "overlay6 <%= show6 %>" >
        <div class="container addAppointment">
            <h5> عملية الحجز</h5>
            <div class="errorMessage"><%= errorMessage %></div>
            <form action="addAppointment" method="post">
                <label for="patientID" dir='rtl' lang='ar'>الرقم القومي للمريض</label>
                <input type="text" name="patientID" placeholder="ادخل الرقم القومي" dir='rtl' lang='ar' required>
                <label for="surgeonID" dir='rtl' lang='ar'>الرقم القومي للجراح</label>
                <input type="text" name="surgeonID" placeholder="ادخل الرقم القومي" dir='rtl' lang='ar' required>
                <label for="operationID" dir='rtl' lang='ar'>رمز تعريف العملية</label>
                <input type="text" name="operationID" placeholder="ادخل رمز تعريف العملية" dir='rtl' lang='ar' required>
                <label for="duration" dir='rtl' lang='ar'>مدة العملية</label>
                <input type="number" name="duration" placeholder="ادخل مدة العملية بالساعات" dir='rtl' lang='ar' required>
                <label for="roomNumber" dir='rtl' lang='ar'>رقم الغرفة</label>
                <input type="text" name="roomNumber" dir='rtl' placeholder="ادخل رقم الغرفة" required>
                <label for="date" dir='rtl' lang='ar'>اختر التاريخ المناسب</label>
                <input type="date" name="date" placeholder=" اختر التاريخ المناسب" dir='rtl' lang='ar' required>
                <label for="time" dir='rtl' lang='ar'>اختر الميعاد المناسب</label>
                <input type="time" name="time" placeholder=" اختر التاريخ المناسب" dir='rtl' lang='ar' required>
                <div class="buttonContainer" dir='rtl' lang='ar' >
                    <button class="submitt" dir='rtl' lang='ar'>تأكيد الحجز </button>
                    <button class="cancel"dir='rtl' lang='ar'> إغلاق</button>
                </div>
            </form>
        </div>
    </div>
        <div class = "Right-nav">
            <a href="/logout"><button class = "Nav-bar-icon-btn"><i class="fa-solid fa-right-from-bracket Exit-icon"></i></button></a>
            <a href="currentAdminProfile"><button class = "Nav-bar-icon-btn"><i class="fa-solid fa-user"></i></button></a>
            <div class = "Admin-data">
                <div class="navbar-name"><%= name %></div>
                <img src=<%= image%> alt="An admin's image" class = "Admin-img">
            </div>
        </div>
        <div class = "Left-nav">
            <a href="devices" class=""><button class = "Nav-bar-btn">الأجهزة</button></a>
            <a href="operations" class=""><button class = "Nav-bar-btn">العمليات</button></a>
            <a href="admins" class=""><button class = "Nav-bar-btn">المشرفون</button></a>
            <a href="doctors" class=""><button class = "Nav-bar-btn">الجراحون</button></a>
            <a href="patients" class=""><button class = "Nav-bar-btn">المرضى</button></a>
            <a href="appointments" class=""><button class = "Nav-bar-btn">المواعيد</button></a>
            <a href="homePage" class=""><button class = "Nav-bar-btn openedPageHighlighted">الصفحة الرئيسية</button></a>
        </div>
    </div>

    <div id = "Front-div">
        <h1>أهلا بك في نظام العمليات الجراحية بالمستشفى</h1>
        <div id = "All-data-div">
            <div class = "Data-div">
                <div class = "Icon-div">
                    <i class="fa-solid fa-user-doctor Data-icon"></i>
                </div>
                <div class = "Small-data-div">
                    <h3>الجراحون</h3>
                    <h3><%= dataNumbers[1] %></h3>
                </div>
                <button class = "Icon-div Icon-div-but addButton1">
                    <i class="fa-solid fa-circle-plus Data-icon addButton-icon"></i>
                </button>
            </div>
            <div class = "Data-div">
                <div class = "Icon-div">
                    <i class="fa-solid fa-user Data-icon"></i>
                </div>
                <div class = "Small-data-div">
                    <h3>المرضى</h3>
                    <h3><%= dataNumbers[2] %></h3>
                </div>
                <button class = "Icon-div Icon-div-but addButton2">
                    <i class="fa-solid fa-circle-plus Data-icon addButton-icon"></i>
                </button>
            </div>
            <div class = "Data-div">
                <div class = "Icon-div">
                    <i class="fa-solid fa-user-tie Data-icon"></i>
                </div>
                <div class = "Small-data-div">
                    <h3>المشرفون</h3>
                    <h3><%= dataNumbers[0] %></h3>
                </div>
                <button class = "Icon-div Icon-div-but addButton3">
                    <i class="fa-solid fa-circle-plus Data-icon addButton-icon"></i>
                </button>
            </div>
        </div>
        <div id = "All-data-div">
            <div class = "Data-div">
                <div class = "Icon-div">
                    <i class="fa-solid fa-syringe Data-icon"></i>
                </div>
                <div class = "Small-data-div">
                    <h3>العمليات</h3>
                    <h3><%= dataNumbers[4] %></h3>
                </div>
                <button class = "Icon-div Icon-div-but addButton4">
                    <i class="fa-solid fa-circle-plus Data-icon addButton-icon"></i>
                </button>
            </div>
            <div class = "Data-div">
                <div class = "Icon-div">
                    <i class="fa-solid fa-stethoscope Data-icon"></i>
                </div>
                <div class = "Small-data-div">
                    <h3>الأجهزة</h3>
                    <h3><%= dataNumbers[3] %></h3>
                </div>
                <button class = "Icon-div Icon-div-but addButton5">
                    <i class="fa-solid fa-circle-plus Data-icon addButton-icon"></i>
                </button>
            </div>
            <div class = "Data-div">
                <div class = "Icon-div">
                    <i class="fa-regular fa-calendar-days Data-icon"></i>
                </div>
                <div class = "Small-data-div">
                    <h3>المواعيد</h3>
                    <h3><%= dataNumbers[5] %></h3>
                </div>
                <button class = "Icon-div Icon-div-but addButton6">
                    <i class="fa-solid fa-circle-plus Data-icon addButton-icon"></i>
                </button>
            </div>
        </div>
    </div>
    <script src="./js/AddingButtons.js"></script>
    <script src="./js/deviceInput.js"></script>
</body>
</html>